/*---------------------------------------------------
                2013@Yeelink
-----------------------------------------------------*/
/*Standard Elements*/
body {
  background: #eee;
  background-image: url(../images/furley_bg.png);
  margin: 0px;
  padding: 0px;
}
a:hover {
  text-decoration: none;
}
h1 {
  margin-top: 0px;
  color: #eee;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
/*Navbar*/
.navbar {
  margin: 0px;
  padding: 0px;
  border-radius: 0;
}
.navbar .navbar-inner {
  padding: 0em 1em;
}
.navbar .nav {
  margin: 0em;
  padding-top: 4px;
}
.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}
.navbar .nav > li:hover {
  background-color: #37712b;
}
.navbar .nav > li > a:hover {
  color: #fff;
  background-color: #37712b;
}
.navbar .nav > li > a:focus {
  color: #fff;
  background-color: #37712b;
}
.navbar .dropdown-menu a:hover {
  background: none;
  color: #000;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #37712b;
  color: #fff;
}
.content {
  min-width: 400px;
  position: relative;
  min-height: 800px;
  background: #fff;
  margin-left: 240px;
  border-left: 1px solid #cccccc;
}
.header {
  background: #ffffff;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0em 1.25em;
}
.header h1 {
  margin: 1em 0em;
  padding: 0em;
  line-height: 1em;
  font-size: 1.5em;
  color: #eee;
  color: #333;
}
.breadcrumb {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #eee;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #fafafa;
  border-left: 1px solid #fff;
  margin-bottom: .5em;
}
.page-content {
  padding: 1em;
}
footer {
  padding: 1em;
  margin-top: 4em;
  color: #666;
  font-size: .85em;
  line-height: 1.3em;
}
/*top stats*/
.stats p.stat {
  margin: 1em 0em 0em 1em;
}
.stats .stat {
  margin-left: 1em;
  line-height: 2.5em;
  float: right;
}
.stats .stat .number {
  font-weight: bold;
  margin-right: .5em;
  padding: .5em;
  border: 1px solid #ccc;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e3e3e3), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e3e3e3, #ffffff);
  background: -moz-linear-gradient(center bottom, #e3e3e3 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e3e3e3, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e3e3e3')";
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
  text-shadow: 1px 1px 1px #fff;
}

/*panels*/
.panel .stat-widget-container {
  text-align: center;
}
.panel .stat-widget-container .number {
  font-size: 2em;
  font-weight: bold;
  color: #999;
}
.panel .stat-widget-container .number span{
  font-size: .25em;
  font-weight: normal;
}
.panel .stat-widget-container .detail {
  font-size: 1.5em;
  color: #555;
}
/*Navigation*/
.sidebar-nav {
  width: 240px;
  position: absolute;
  float: left;
  border-top: none;
  border-left: none;
  margin: 0em;
}
.sidebar-nav .nav-header {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c8c8cb;
  border-left: none;
  color: #333;
  display: block;
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #efeff0, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";
  font-weight: normal;
  font-size: 1em;
  line-height: 2.5em;
  padding: 0em .25em;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  /*Change the arrow direction if the item is collapsed*/

}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .5em;
  margin-right: .5em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header:hover {
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #efeff0, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";
}
.sidebar-nav .nav-header.collapsed .glyphicon-chevron-up::before {
  content: "\e114";
}
.sidebar-nav .nav-header .glyphicon-chevron-up {
  float: right;
  line-height: 2;
}
.sidebar-nav .nav-header span[class^="glyphicon"] {
  margin-right: .75em;
}
.sidebar-nav .nav-list {
  margin: 0px;
  border: 0px;
  background: #f6f6f6;
}
.sidebar-nav .nav-list  > li > a:hover {
  background: #e0e0e8;
}
.sidebar-nav .nav-list  > .active > a,
.sidebar-nav .nav-list  > .active > a:hover {
  background: #d2d2dd;
  color: #555;
  text-shadow: none;
}
.sidebar-nav .nav-list  > .active > a:hover {
  background: #c3c3d2;
}
.sidebar-nav .nav-list  > li > a {
  color: #444;
  padding: .5em 1em;
}
.sidebar-nav .nav-list.collapse.in {
  border-bottom: 1px solid #ccc;
}
/*display */
.display {
    margin: 40px auto;
}
.add-led-display {
    margin:20px auto;
    text-align:center;
}
/*my_device toolbar */
.toolbar {
    margin:24px auto;
}
/*chart */
.chart-area{
    height:300px;
    margin:38px auto;
}
/* Tweaks for mobile */
@media (max-width: 641px) {
  .content {
    margin: 0em;
  }
  .sidebar-nav {
    float: none;
    width: auto;
    position: relative;
  }
  h1 {
    text-align: center;
  }
  .stats {
    text-align: center;
    margin-top: 1em;
  }
  .stats .stat {
    float: none;
    display: inline;
  }
  .stat-widget-container .stat-widget {
    font-size: .5em;
  }
}
@media (max-width: 900px) {
  body.http-error {
    font-size: .75em;
  }
  body.http-error .error-message {
    padding: 0em 1em;
  }
}
@media (max-width: 851px) {
  .stat-widget-container .stat-widget {
    font-size: .75em;
  }
}
@media (max-width: 767px) {
  footer hr {
    margin-left: 0em;
    margin-right: 0em;
  }
}
@media (max-width: 604px) {
  body.http-error {
    font-size: .5em;
  }
}
